.DisplayUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10rem;
    justify-content: space-around;
    background-color: lightskyblue;
}

.Name{
    font-size: 2rem;
    color: lightslategrey;
}

.Address{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.image{
    height:6rem;
    width: 6rem;
}