.PhotoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
@media (min-width:500px){
    .PhotoContainer{
        flex-direction: row;
        justify-content: center;
    }
}