.postHeader{
    color: seagreen;
    font-size: 2rem;
    margin: 2rem 2rem;
    
}
.eachPost{
    height: 18rem;
    margin: 2rem 0;
    background-color: lightpink;
}
.labelHeader{
    margin: 1rem 1rem;
}
.postContent{
    margin: 1rem 2rem;
}